name: Simle build

on:
  push:
    branches: [ master, dev, Arkadiyche1]
  pull_request:
    branches: [ master, dev ]

jobs:
  golangci-main:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
        with:
          golangci_lint_flags: "--config=../.golangci.yml"
          workdir: .
  test:
    name: tests
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.14.x'
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test ./...
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.14.x'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build
        run: make build
      - name: Upload build res
        uses: actions/upload-artifact@v1
        with:
          name: bin
          path: ./apiserver
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download bin file
        uses: actions/download-artifact@v1
        with:
          name: bin
      - name: Transfer build files to server
        uses: appleboy/scp-action@v0.0.10
        with:
          host: 95.163.208.72
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          source: "bin"
          target: "/home/ubuntu/back/2020_2_Ruiners"
      - name: chmod
        uses: appleboy/scp-action@master
        with:
          host: 95.163.208.72
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/back/2020_2_Ruiners/bin
            chmod 755 apiserver
      - name: restart
        uses: appleboy/scp-action@master
        with:
          host: 95.163.208.72
          username: ubuntu
          key: ${{ secrets.PRIVATE_KEY }}
          script: sudo systemctl restart apiserver.service

